body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans JP',sans-serif;
}

html,
body,
header,
.view {
  height: 100%;
}

.logo-color {
  color: #ed6436;
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: rgb(10, 9, 9);
}